In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [49]:
df_t = pd.read_table('movie_ids.txt', header=None, names=['Title'])
df_r = pd.read_csv('ex8_movies_R.csv', header=None)
df_y = pd.read_csv('ex8_movies_Y.csv', header=None)
df_x = pd.read_csv('ex8_movieParams_X.csv', header=None)
df_theta = pd.read_csv('ex8_movieParams_Theta.csv', header=None)

df_r.index = df_t['Title'].tolist()
df_y.index = df_t['Title'].tolist()
df_x.index = df_t['Title'].tolist()

In [50]:
df_y.describe()

,0,1,2,3,4,5,6,7,8,9,...,933,934,935,936,937,938,939,940,941,942
count,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,...,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000,1682.000000
mean,0.583829,0.136742,0.089774,0.061831,0.299049,0.456005,0.950059,0.133175,0.055886,0.460166,...,0.382878,0.090963,0.316290,0.080262,0.209869,0.124257,0.219976,0.052913,0.200357,0.340666
std,1.423162,0.726219,0.538491,0.525138,0.981258,1.259171,1.771243,0.735829,0.496715,1.327383,...,1.169569,0.604899,1.078626,0.546562,0.860570,0.736178,0.881635,0.470606,0.917631,1.097235
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [54]:
num_users = 4; num_movies = 5; num_features = 3;

In [ ]:
theta = tf.Variable(, name="theta")
x = tf.Variable(, name="x")
y = tf.Variable(, name="y")

# Construct a linear model
each = tf.subtract(tf.matmul(theta, x), y)
base_cost = tf.reduce_sum(each, name="base_cost")
cost = tf.add(base_cost, regularizer)

optimizer = tf.train.GradientDescentOptimizer(0.5)
train = optimizer.minimize(cost)
init = tf.initialize_all_variables()

with tf.Session() as session:
    session.run(init)
    print("start at: ", session.run(x), "log(x)^2:", session.run(log_x_squared))
    for step in range(10):  
      session.run(train)
      print("step", step, "x:", session.run(x), "log(x)^2:", session.run(log_x_squared))